<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tugas1akb_if3_10119094">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Tugas1AKBIF310119094"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tugas1AKBIF310119094">
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:label="Main Activity"/>
        <activity android:name=".LoginActivity"
            android:label="Login Activity"/>
        <activity android:name=".RegisterActivity"
            android:label="Register Activity"/>
        <activity android:name=".ProfileActivity"
            android:label="Profile Activity"/>
    </application>

</manifest>